StarWarsInfo/src/main/mule/starwars-characters-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="starwars-characters-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="starwars-characters-api-config" api="starwars-characters-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/characters" action="get" flow-ref="get:\characters:starwars-characters-api-config" />
		</apikit:flow-mappings>
	</apikit:config>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9cf71c67-e4ff-4f85-a105-8cdca3f5b9b2" >
		<http:request-connection protocol="HTTPS" host="swapi.dev" />
	</http:request-config>
<!--     <include resource="console-flow.xml" /> -->
	<flow name="starwars-characters-api-main">
        <http:listener config-ref="starwars-characters-api-httpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="starwars-characters-api-config" />
        <error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="get:\characters:starwars-characters-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Name,Gender,Height,Mass Luke Skywalker,male,172,77 Leia Organa,female,150,49" as String {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[attributes.queryParams.gender]" doc:name="Set Variable" doc:id="705763db-7d9b-419d-9fb9-be6ee65aee08" variableName="gender" />
		<http:request method="GET" doc:name="Request" doc:id="2410ad1b-be60-4020-b8ca-769cecdaa3d6" config-ref="HTTP_Request_configuration" path="/api/people/"/>
		<ee:transform doc:name="Transform Message" doc:id="e0724ba3-3fd0-4915-841a-d02e683f2397">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (vars.gender != null) 
    payload.results filter (character) -> character.gender == vars.gender
else 
    payload.results]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3328c695-e914-4027-8a12-02b6deccf711" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload map ((character) -> {
    Name: character.name,
    Height: character.height,
    Mass: character.mass,
    Hair_color: character.hair_color,
    Skin_color:character.skin_color,
    Eye_color:character.eye_color,
    Birth_year:character.birth_year,
    Gender: character.gender
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
